<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shashwat.rakhtjeevan">
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.shashwat.rakhtjeevan.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shashwat.rakhtjeevan.SOSBut" />
        <activity android:name="com.shashwat.rakhtjeevan.bloodLossHome" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_minor" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_rip" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_mestrual" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_gums" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_nose" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_ears" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_wounds" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_wrist" />
        <activity android:name="com.shashwat.rakhtjeevan.bleed_head" />
        <activity android:name="com.shashwat.rakhtjeevan.view_contacts" />
        <activity android:name="com.shashwat.rakhtjeevan.add_contacts"></activity>
    </application>

</manifest>